@font-face {
  font-family: Roboto;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  box-sizing: border-box;
}

.home {
  flex-wrap: wrap;
  background-color: blue;
  display: flex;
  background-image: url(img/image2.png);
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  flex-wrap: wrap;
  display: flex;
  background-color: rgb(0, 0, 0, .7);
  justify-content: space-between;
  align-items: center;
  padding: 0px 4%;
}

.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.moringa1 {
  padding: 10px;
  font-size: 24px;
  color: #f19201;
  font-weight: 900;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  justify-content: space-around;
}

.nav .moringa {
  padding: 15px 26px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 900;
  background-color: #f19201;
  border: none;
  margin-left: 60px;
}

li {
  list-style: none;
  padding: 0px 30px;
}

a {
  color: #f19201;
  text-decoration: none;
}

.order {
  color: white;
  font-size: 58px;
  font-weight: 900;
  padding: 110px 4%;
}

.ordernow {
  font-size: 24px;
  color: white;
  font-weight: bolder;
  padding: 20px 50px;
  margin-left: 20px;
  background-color: #f19201;
  border: none;
}

.services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(227, 227, 227);
  padding: 50px 10% 100px 10%;
}

.pagetitle {
  font-size: 36px;
  color: #f19201;
}

.pagetext {
  font-size: 20px;
  font-style: italic;
  line-height: 34px;
  font-weight: medium;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  text-align: center;
  justify-content: space-evenly;
}

.column {
  margin-top: 40px;
  background-color: white;
  padding: 30px 30px 60px 30px;
  align-items: center;
}

.numbers {
  background-color: #f19201;
  color: white;
  font-size: 30px;
  font-weight: 800;
  border-radius: 50%;
  padding: 21px 30px;
  width: fit-content;
  margin: 0px 40% 30px 40%;
  align-items: center;

}

.writingtitle {
  font-size: 24px;
}

.writing {
  font-size: 22px;
}

.reviews {
  display: flex;
  text-align: center;
}

.reviewtext {
  background-color: black;
  color: white;
  width: 50%;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviewstitle {
  font-size: 70px;
  font-weight: 500;
}

.organic {
  font-size: 36px;
  padding: 20px;
}

.story {
  font-size: 20px;
  padding: 20px;
}

.name {
  font-size: 24px;
  padding: 20px;
}

.imageside {
  width: 50%;
  height: 750px;
  background-image: url(img/image1.png);
  background-size: cover;
}

.menu {
  display: flex;
  padding: 100px 10px 80px 10px;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(227, 227, 227);
}

.textcent {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cards {
  display: flex;
  padding: 30px 50px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 70px;
  row-gap: 40px;
}

.cardcontent {
  display: flex;
  background-color: white;
  padding: 20px 30px;
}

.cash {
  color: #f19201;
  font-weight: 900;
  font-size: 26px;
}

.titlefood {
  font-size: 36px;
}

.textcard {
  font-size: 24px;
  color: rgba(66, 66, 66, .9);
  font-weight: 100;
}

.orderfood {
  border: none;
  font-size: 20px;
  font-weight: medium;
  padding: 10px 40px 10px 40px;
}

.cardtext {
  padding: 0px 0px 0px 30px;
  font-size: 20px;
}

.image1 {
  background-image: url(img/image4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 282px;
  width: 282px;
}

.image2 {
  background-image: url(img/iamge5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 282px;
  width: 282px;
}

.image3 {
  background-image: url(img/image6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 282px;
  width: 282px;
}

.image4 {
  background-image: url(img/image7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 282px;
  width: 282px;
}

.book {
  text-align: center;
  background-image: url(img/image8.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.bookmoringa {
  font-size: 34px;
  padding-top: 130px;
  font-weight: lighter;
  margin: 0px;
}

.booknow {
  color: white;
  background-color: transparent;
  font-size: 22px;
  padding: 12px 65px;
  font-weight: bolder;
  border-color: white;
  margin: 0px 0px 120px 0px;
  border-width: 3px;
}

.booktitle {
  padding: 5px 0px;
  font-size: 40px;
}

.footer {
  text-align: center;
  background-color: black;
  color: rgba(196, 194, 194, 0.7);
  font-weight: 100;
  font-size: 20px;
  padding: 5px;
}