@font-face {
  font-family: Roboto;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
body{
  font-family: Roboto;
  box-sizing: border-box;
}
.home{
  background-color:blue;
  display: flex;
  background-image: url(img/image2.png);
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav{
  display: flex;
  background-color:rgb(0, 0, 0, .7);
  justify-content: space-between;
  align-items: center;
  padding: 0px 4%;
}
.logo{
  display: flex;
  align-items: center;
}
.moringa1{
  padding: 10px;
  font-size: 24px;
  color: #f19201;
  font-weight: 900;
}
.navbar{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  justify-content: space-around;
}
.nav .moringa{
  padding: 15px 26px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 900;
  background-color: #f19201;
  border: none;
  margin-left: 60px;
}

li{
  list-style: none;
  padding: 0px 30px;
}
a {
  color: #f19201;
  text-decoration: none;
}
.order{
  color: white;
  font-size: 56px;
  font-weight: 900;
  padding: 110px 3%;
}
.ordernow{
  font-size: 24px;
  color: white;
  font-weight: bolder;
  padding: 10px 25px;
  margin-left: 20px;
  background-color: #f19201;
  border: none;
}
.services{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(227, 227, 227);
}
.pagetitle{
  font-size: 36px;
  color: #f19201;
}

.pagetext{
  font-size: 20px;
  font-style: italic;
  line-height: 34px;
  font-weight: medium;
}
.services {
  text-align: center;
  padding: 200px 0px 100px 10px;
  align-content: center;
  background-color: whitesmoke;
}


.column {
  float: left;
  background-color: white;
  width: 22%;
  padding: 50px 30px;
  margin: 40px 2% 0px 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.numbers{
  background-color: #f19201;
  color: white;
  font-size: 30px;
  font-weight: 800;
  border-radius: 50%;
  padding: 30px 39px;
  width: fit-content;
  margin: 10px 40% ;

}
.writingtitle{
  font-size: 24px;
}
.writing{
  font-size: 22px;
}
.reviews{
  display: flex;
  text-align: center; 
}
.reviewtext{
  background-color: black;
  color: white;
  width: 50%;
  height: max-content;  
}
.imageside{
  width: 50%;
  background-image: url(img/image1.png);
  background-size: cover; 
}
.menu{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(227, 227, 227);
}
.cards{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}
.book{
  background-image: url(img/image8.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  color: white;
}
.bookmoringa{
  margin-top: 120px;
  font-size: 34px;
  font-weight: lighter;
}
.booknow{
  color: white;
  background-color: transparent;
  font-size: 22px;
  padding: 15px 70px;
  font-weight: bolder;
  border-color:white;
  margin: 30px 0px 120px 0px;
  border-width: 3px;
}
.booktitle{
  padding: 5px 0px;
  font-size: 42px;
}
.footer{
  background-color: black;
  color: rgba(196, 194, 194, 0.8);
  font-weight:100;
  font-size: 20px;
  padding: 5px;
}