@font-face {
  font-family: Roboto;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
body{
  font-family: Roboto;
  box-sizing: border-box;
}
.home{
  background-color:blue;
  display: flex;
  background-image: url(img/image2.png);
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav{
  display: flex;
  background-color:rgb(0, 0, 0, .7);
  justify-content: space-between;
  align-items: center;
  padding: 0px 4%;
}
.logo{
  display: flex;
  align-items: center;
}
.moringa1{
  padding: 10px;
  font-size: 24px;
  color: #f19201;
  font-weight: 900;
}
.navbar{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  justify-content: space-around;
}
.nav .moringa{
  padding: 15px 26px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 900;
  background-color: #f19201;
  border: none;
  margin-left: 60px;
}

li{
  list-style: none;
  padding: 0px 30px;
}
a {
  color: #f19201;
  text-decoration: none;
}
.order{
  color: white;
  font-size: 56px;
  font-weight: 900;
  padding: 110px 3%;
}
.ordernow{
  font-size: 24px;
  color: white;
  font-weight: bolder;
  padding: 10px 25px;
  margin-left: 20px;
  background-color: #f19201;
  border: none;
}
.services{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(227, 227, 227);
}
.pagetitle{
  font-size: 36px;
  color: #f19201;
}

.pagetext{
  font-size: 18px;
  font-style: italic;
}
.services {
  text-align: center;
  padding: 200px 0px 150px 10px;
  align-content: center;
  background-color: whitesmoke;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 100px;
}

.column {
  float: left;
  background-color: white;
  padding: 70px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.numbers{
  background-color: #f19201;
  color: white;
  font-size: 30px;
  font-weight: 800;
  border-radius: 50%;
  padding: 30px 39px;
  width: fit-content;
  margin: 10px 40% ;

}
.writingtitle{
  font-size: 24px;
}
.writing{
  font-size: 21px;
}
